@font-face {
    font-family:'Comic Sans';
    src: url(resources/comic_sans.ttf);
}

table {
    width: 1400px;
    height: 600px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    color: white;
}

p:hover {
    -webkit-text-stroke: 1.5px rgb(255, 0, 0);
}

table, td, th {
    text-align: center;
    font-size: 20px;
}

tr {
    height: 66.6px;
}

td:first-child {
    width: 200px;
}

body {
    width: max-content;
    margin:0px auto;
}

td {
    width: 300px;
}

td p {
    text-align: center;
    margin: 0px auto;
    width: fit-content;
}

tr:nth-child(5) td:last-child {
    background-color: yellow;
    font-family: 'Comic Sans';
}

tr:nth-child(5) td:last-child:hover {
    background-color:rosybrown;
}

td {
    border: solid 2px transparent;
}

tr:hover td {
    border: solid 2px gray;
}

.tut {
    background-image: url(resources/tutoria.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.tut:hover {
    border: solid 2px green;
}

.tut p {
    position: relative;
}

.tut:hover p::after {
    content: "\A Tutoria\A Javier García Blasco";
    white-space: pre;
    font-size: 8px;
    color: black;
    position: absolute;
    margin-left: -77px;
    margin-top: 13px;
    -webkit-text-stroke: 0px;
}

.dis {
    background-image: url(resources/diseño.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.dis:hover {
    border: solid 2px greenyellow;
}

.dis p {
    position: relative;
}

.dis:hover p::after {
    content: "\A Diseño de Interfaces Web\A Fracisco Hernández";
    white-space: pre;
    font-size: 8px;
    color: white;
    position: absolute;
    margin-left: -88px;
    margin-top: 13px;
    -webkit-text-stroke: 0px;
}

.cli {
    background-image: url(resources/cliente.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.cli:hover {
    border: solid 2px red;
}

.cli p {
    position: relative;
}

.cli:hover p::after {
    content: "\A Desarrollo web en entorno cliente\A José Miguel Fajardo";
    white-space: pre;
    font-size: 8px;
    color: black;
    position: absolute;
    margin-left: -104px;
    margin-top: 13px;
    -webkit-text-stroke: 0px;
}

.des {
    background-image: url(resources/despliegue.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.des:hover {
    border: solid 2px orangered;
}

.des p {
    position: relative;
}

.des:hover p::after {
    content: "\A Despliegue de aplicaciones web\A David Orts ";
    white-space: pre;
    font-size: 8px;
    color: black;
    position: absolute;
    margin-left: -104px;
    margin-top: 13px;
    -webkit-text-stroke: 0px;
}

.ser {
    background-image: url(resources/servidor.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.ser:hover {
    border: solid 2px purple;
}

.ser p {
    position: relative;
}

.ser:hover p::after {
    content: "\A Desarrollo web en entorno servidor\A Javier García";
    white-space: pre;
    font-size: 8px;
    color: black;
    position: absolute;
    margin-left: -110px;
    margin-top: 13px;
    -webkit-text-stroke: 0px;
}

.emp {
    background-image: url(resources/empresa.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.emp:hover {
    border: solid 2px yellow;
}

.emp p {
    position: relative;
}

.emp:hover p::after {
    content: "\A Empresa e iniciativa emprendedora\A Mª Iciar de Oteiza";
    white-space: pre;
    font-size: 8px;
    color: black;
    position: absolute;
    margin-left: -114px;
    margin-top: 13px;
    -webkit-text-stroke: 0px;
}

a {
    font-size: 15px;
}

img {
    width: 18px;
}